:root {
  --sidebar-width: 250px;
}

.sidebar-expanded {
  width: var(--sidebar-width);
  transition: width 0.3s ease;
}

.sidebar-collapsed {
  width: 70px;
  transition: width 0.3s ease;
}

/* Sidebar dropdown */
.nav-pills .nav-link {
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}

.nav-pills .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-pills .nav-link.active {
  background-color: #0d6efd;
}

.cursor-pointer {
  cursor: pointer;
}

/* Submenu items */
.nav-pills .nav-item .nav-item {
  margin-left: 0;
}

.nav-pills .nav-item .nav-link {
  /* padding-left: 2rem; */
  font-size: 0.9rem;
}


.main-content {
  margin-left: var(--sidebar-width);
  transition: margin-left 0.3s ease;
}

.main-content-collapsed {
  margin-left: 70px;
  transition: margin-left 0.3s ease;
}

.chart-container {
  position: relative;
  height: 300px;
  width: 100%;
}
